<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Job Application Form</h1>
    </header>
    <main>
        <form method="post">
            <section>
                <fieldset>
                    <legend>Basic Details</legend>
                <div class="flexer">
                    <div><label for="fname">First Name: </label></div>
                    <div>
                        <input type="text" name="fname" id="fname">
                        <div id="fname-msg">&nbsp;</div>
                    </div>
                    <div><label for="lname">Last Name: </label></div>
                    <div>
                        <input type="text" name="lname" id="lname">
                        <div id="lname-msg">&nbsp;</div>
                    </div>
                    <div><label for="desg">Designation: </label></div>
                    <div>
                        <input type="text" name="desg" id="desg">
                        <div id="desg-msg">&nbsp;</div>
                    </div>
                </div>
                <div class="flexer">
                    <div><label for="email">e-Mail Address: </label></div>
                    <div>
                        <input type="text" name="email" id="email">
                        <div class="email-msg">&nbsp;</div>
                    </div>
                    <div><label for="add1">Address-1: </label></div>
                    <div>
                        <input type="text" name="add1" id="add1">
                        <div class="add1-msg">&nbsp;</div>
                    </div>
                    <div><label for="add2">Address-2: </label></div>
                    <div>
                        <input type="text" name="add2" id="add2">
                        <div class="add2-msg">&nbsp;</div>
                    </div>
                </div>
                <div class="flexer">
                    <div><label for="city">City: </label></div>
                    <div>
                        <input type="text" name="city" id="city">
                        <div class="city-msg">&nbsp;</div>
                    </div>
                    <div><label for="state">State: </label></div>
                    <div>
                        <input type="text" name="state" id="state">
                        <div class="state-msg">&nbsp;</div>
                    </div>
                    <div><label for="pin">PIN Code</label></div>
                    <div>
                        <input type="text" name="pin" id="pin">
                        <div class="pin-msg">&nbsp;</div>
                    </div>
                </div>
                <div class="flexer">
                    <div><label for="Gender">Gender: </label></div>
                    <div>
                        <input type="radio" name="gender" id="male" value="M"> Male
                        <input type="radio" name="gender" id="female" value="F"> Female
                        <input type="radio" name="gender" id="others" value="O"> Others
                    </div>
                    <div class="gender-msg">&nbsp;</div>
                    <div><label for="rel">Relationship Status: </label></div>
                        <div>
                            <select id="rel">
                                <option value="S">Single</option>
                                <option value="M">Married</option>
                            </select>
                        </div>
                    <div class="rel-msg">&nbsp;</div>
                </div>
            </fieldset>
            </section>
            <br>
            <br>
            <section>
                <fieldset>
                    <legend>Education Details</legend>

                    <label for="ssc">SSC Result</label>
                    <div>
                        <div class="flexer">
                            Name of Board: <input type="text" name="clg-0" id="clg-0">
                            Passing year: <input type="text" name="py-0" id="py-0">
                            Score: <input type="text" name="score-0" id="score-0">
                        </div>
                        <div id="ssc-msg">&nbsp;</div>
                    </div>
                    <label for="hsc">HSC/Diploma Result</label>
                    <div>
                        <div class="flexer">
                            Name of Board: <input type="text" name="clg-1" id="clg-1">
                            Passing year: <input type="text" name="py-1" id="py-1">
                            Score: <input type="text" name="score-1" id="score-1">
                        </div>
                        <div id="hsc-msg">&nbsp;</div>
                    </div>
                    <label for="bac">Bachelor Result</label>
                    <div>
                        <div class="flexer">
                            Name of Board: <input type="text" name="clg-2" id="clg-2">
                            Passing year: <input type="text" name="py-2" id="py-2">
                            Score: <input type="text" name="score-2" id="score-2">
                        </div>
                        <div id="bac-msg">&nbsp;</div>
                    </div>
                    <label for="mas">Master Result</label>
                    <div>
                        <div class="flexer">
                            Name of Board: <input type="text" name="clg-3" id="clg-3">
                            Passing year: <input type="text" name="py-3" id="py-3">
                            Score: <input type="text" name="score-3" id="score-3">
                        </div>
                        <div id="mas-msg">&nbsp;</div>
                    </div>
                </fieldset>
            </section>
            <br>
            <br>
            <section>
            <fieldset>
                <legend>Work Experience: </legend>
                <div>
                    <div class="flexer">
                        Company Name: <input type="text" name="comp-0" id="comp-0">
                        Designation: <input type="text" name="desg-0" id="desg-0">
                        From: <input type="date" name="f-0" id="f-0">
                        To: <input type="date" name="t-0" id="t-0">
                    </div>
                    <div id="work-1-msg">&nbsp;</div>
                </div>
                <div>
                    <div class="flexer">
                        Company Name: <input type="text" name="comp-0" id="comp-0">
                        Designation: <input type="text" name="desg-0" id="desg-0">
                        From: <input type="date" name="f-0" id="f-0">
                        To: <input type="date" name="t-0" id="t-0">
                    </div>
                    <div id="work-2-msg">&nbsp;</div>
                </div>
                <div>
                    <div class="flexer">
                        Company Name: <input type="text" name="comp-0" id="comp-0">
                        Designation: <input type="text" name="desg-0" id="desg-0">
                        From: <input type="date" name="f-0" id="f-0">
                        To: <input type="date" name="t-0" id="t-0">
                    </div>
                    <div id="work-3-msg">&nbsp;</div>
                </div>  
            </fieldset>
            </section>

            <br><br>
            <section>
                <div class="flexer">
                    <div>
                        <fieldset>
                            <legend>Languages</legend>
                            <div>
                                <div>
                                    <input type="checkbox" name="lang" id="lang-0"> Hindi
                                    <input type="checkbox" name="hin" id="hin-0"> Can Read
                                    <input type="checkbox" name="hin" id="hin-1"> Can Write
                                    <input type="checkbox" name="hin" id="hin-2"> Can Speak
                                </div>
                                <div id="lang-1-msg">&nbsp;</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="lang" id="lang-1"> English
                                    <input type="checkbox" name="eng" id="eng-0"> Can Read
                                    <input type="checkbox" name="eng" id="eng-1"> Can Write
                                    <input type="checkbox" name="eng" id="eng-2"> Can Speak
                                </div>
                                <div id="lang-2-msg">&nbsp;</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="lang" id="lang-2"> Gujarati
                                    <input type="checkbox" name="guj" id="guj-0"> Can Read
                                    <input type="checkbox" name="guj" id="guj-1"> Can Write
                                    <input type="checkbox" name="guj" id="guj-2"> Can Speak
                                </div>
                                <div id="lang-3-msg">&nbsp;</div>
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <legend>Technologies</legend>
                            <div>
                                <div>
                                    <input type="checkbox" name="tech" id="tech-0"> PHP
                                    <input type="radio" name="php" id="php-0"> Beginner
                                    <input type="radio" name="php" id="php-1"> Intermediate
                                    <input type="radio" name="php" id="php-2"> Expert
                                </div>
                                <div id="php-msg">&nbsp;</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="tech" id="tech-0"> MySQL
                                    <input type="radio" name="sql" id="sql-0"> Beginner
                                    <input type="radio" name="sql" id="sql-1"> Intermediate
                                    <input type="radio" name="sql" id="sql-2"> Expert
                                </div>
                                <div id="sql-msg">&nbsp;</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="tech" id="tech-0"> Laravel
                                    <input type="radio" name="lar" id="lar-0"> Beginner
                                    <input type="radio" name="lar" id="lar-1"> Intermediate
                                    <input type="radio" name="lar" id="lar-2"> Expert
                                </div>
                                <div id="lar-msg">&nbsp;</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="tech" id="tech-0"> Oracle
                                    <input type="radio" name="ora" id="ora-0"> Beginner
                                    <input type="radio" name="ora" id="ora-1"> Intermediate
                                    <input type="radio" name="ora" id="ora-2"> Expert
                                </div>
                                <div id="ora-msg">&nbsp;</div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </section>

            <br><br>
            <section>
                <fieldset>
                    <legend>References</legend>
                    <div>
                        <div class="flexer">
                            Name: <input type="text" name="r-name-0" id="r-name-0">
                            Contact No.: <input type="text" name="r-phone-0" id="r-no-0">
                            Relation: <input type="text" name="r-rel-0" id="r-rel-0">
                        </div>
                        <div id="ref-1">&nbsp;</div>
                    </div>
                    <div>
                        <div class="flexer">
                            Name: <input type="text" name="r-name-1" id="r-name-1">
                            Contact No.: <input type="text" name="r-phone-1" id="r-no-1">
                            Relation: <input type="text" name="r-rel-1" id="r-rel-1">
                        </div>
                        <div id="ref=2">&nbsp;</div>
                    </div>
                </fieldset>
            </section>

            <br><br>
            <section>
                <fieldset>
                    <legend>Prefernces</legend>
                    <div class="flexer">
                        <div>
                            <label>Prefered Location: </label>
                            <select name="p-city" multiple="true">
                                <option value="mum">Mumbai</option>
                                <option value="sur">Surat</option>
                                <option value="raj">Rajkot</option>
                                <option value="ahm">Ahmedabad</option>
                            </select>
                        </div>
                        <div>
                            <div>Notice Period: <input type="text" name="notice" id="notice"></div>
                            <div>Expected CTC: <input type="text" name="expect" id="expect"></div>
                            <div>Current CTC: <input type="text" name="current" id="current"></div>
                        </div>
                        <div>
                            <label>Department: </label>
                            <select name="dept" id="dept">
                                <option value="des">Design</option>
                                <option value="dev">Developer</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </section>

            <br><br>
            <section>
                <center>
                    <input type="reset" value="Clear Form">
                    <input type="submit" value=" Submit">
                </center>
            </section>
        </form>
    </main>
    <footer><p>Thank You for Visiting!</p></footer>
</body>
</html>